<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.my.simplesampletest">

    <!--网络-->
    <uses-permission android:name="android.permission.INTERNET" />
    <!--写入SD卡-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--读取SD卡-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!--在SDCard中创建与删除文件权限  -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!--相机的权限(扫描二维码用到)-->
    <uses-permission android:name="android.permission.CAMERA" />
    <!--允许程序禁用键盘锁-->
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <!-- 自定义相机，自动对焦 -->
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <!-- 这是5.0之后的权限，使用统计的权限，由于该权限默认只授予系统应用，所以添加了ignore属性。然后通过代码进而手动打开权限 -->
    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />


    <application
        android:name=".base.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/android_studio"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--EventBus-->
        <activity android:name=".eventbus.EventBusActivity" />
        <activity android:name=".eventbus.EventBus2Activity" />
        <!-- 测试String转换成JSONObject,Gson解析、通过Gson装换成把实体类转换成json,把String类型存到SD卡中，从assets文件夹中读取json文件并且解析 -->
        <activity android:name=".jsonobjecttostring.JSONObjectActivity" />
        <!--自动隐藏键盘Demo、和侧滑菜单-->
        <activity android:name=".autohideime.AutoHideIMEActivity" />
        <!--android自定义控件—边缘凹凸的View、CardView的使用方法、分享弹窗ShareView-->
        <activity android:name=".coupondisplayview.CouponDisplayActivity" />
        <!--activity之间传递对象-->
        <activity android:name=".activitypostobject.PostActivity" />
        <activity android:name=".activitypostobject.ReceiveActivity" />
        <!--TabLayout配合ViewPager可以滑动、SeekBar的使用，仿淘宝滑动验证、复制文本-->
        <activity android:name=".tablayout.TLTrunkActivity" />
        <!--广播activity-->
        <activity android:name=".broadcast.BroadCastActivity" />
        <!--PicassoDemo-->
        <activity android:name=".picasso.PicassoDemoActivity" />
        <!--Picasso的简单使用-->
        <activity android:name=".picasso.PicassoActivity" />
        <!--了解Logger、RecyclerView侧滑菜单，长按拖拽，滑动删除，自动加载更多，和ViewPager结合使用，和任何下拉刷新框架结合使用。-->
        <activity android:name=".logger.LoggerActivity" />
        <activity
            android:name=".logger.AllMenuActivity"
            android:label="两侧菜单"
            android:theme="@style/MenuTextAllCaps" />
        <activity
            android:name=".logger.ViewTypeMenuActivity"
            android:label="ViewType菜单"
            android:theme="@style/MenuTextAllCaps" />
        <activity
            android:name=".logger.ViewPagerMenuActivity"
            android:label="和ViewPager嵌套"
            android:theme="@style/MenuTextAllCaps" />
        <activity
            android:name=".logger.RefreshLoadMoreActivity"
            android:label="下拉刷新，加载更多"
            android:theme="@style/MenuTextAllCaps" />
        <activity
            android:name=".logger.ListDragMenuActivity"
            android:label="拖拽Item条目+菜单(List)"
            android:theme="@style/MenuTextAllCaps" />
        <activity
            android:name=".logger.GridDragMenuActivity"
            android:label="拖拽Item条目+菜单(Grid)"
            android:theme="@style/MenuTextAllCaps" />
        <activity
            android:name=".logger.ListDragSwipeActivity"
            android:label="滑动直接删除+拖拽Item条目"
            android:theme="@style/MenuTextAllCaps" />
        <activity
            android:name=".logger.DragSwipeFlagsActivity"
            android:label="指定Item不能拖拽/滑动删除"
            android:theme="@style/MenuTextAllCaps" />
        <activity
            android:name=".logger.VerticalMenuActivity"
            android:label="竖型菜单"
            android:theme="@style/MenuTextAllCaps" />
        <activity
            android:name=".logger.DefineActivity"
            android:label="用SwipeMenuLayout实现你自己的侧滑"
            android:theme="@style/MenuTextAllCaps" />

        <!--ListView更新单条数据，刷新，禁止截屏-->
        <activity android:name=".lvupdatesingledata.LVUpdateSingleAct" />
        <!--Android DiskLruCache完全解析，硬盘缓存的最佳方案-->
        <activity android:name=".imagecache.DiskLruCacheAct" />
        <!-- 3D图片滚动、仿美团网，使用ViewPager+GridView实现左右滑动查看更多分类的功能 -->
        <activity android:name=".imageswitchview.Image3DSwitchViewAct" />
        <!--学习ORMLite数据库-->
        <activity android:name=".ormlitedemo.ORMLiteActivity" />
        <!--Activity的生命周期-->
        <activity android:name=".act_life_cycle.LifeCycleActivity" />
        <activity android:name=".act_life_cycle.LifeCycle2Activity" />
        <!--用zxing做的生成二维码，并且扫码-->
        <activity android:name=".zxing.QRCodeActivity" />
        <activity android:name=".zxing.ScanActivity" />
        <!--自定义跑马灯效果(广告)-->
        <activity android:name=".marqueeview.MarqueeViewActivity" />
        <!--学习使用universal-image-loader-1.9.5-->
        <activity android:name=".imageloader.ImageLoaderActivity" />
        <!--关于的activity-->
        <activity android:name=".about.AboutActivity" />
        <!--读取assets文件夹下的config.properties文件、夜间模式-->
        <activity android:name=".read_config_properties.ConfigPropertiesAct" />
        <!--学习使用OKHttp-->
        <activity android:name=".okhttp.OKHttpActivity" />
        <!--Android 快速实现文件下载（只有4行代码）-->
        <activity android:name=".download_apk.DownloadAPKAct" />
        <!--登录动画效果-->
        <activity android:name=".material_text_field.MaterialTextFieldAct" />
        <!--RadioGroup实现类似ios的分段选择(UISegmentedControl)控件、自动轮播ViewPager-->
        <activity android:name=".segment_view.SegmentViewActivity" />
        <!--app带圆点指示的引导页-->
        <activity android:name=".guide_pager.GuidePagerActivity" />
        <!--SwipeRefreshLayout Google官方下拉刷新组件-->
        <activity android:name=".swipe_refresh_layout.SwipeRefreshLayoutAct" />
        <!--学习使用Snackbar-->
        <activity android:name=".snackbar.SnackbarActivity" />
        <!--循环显示超长图片-->
        <activity android:name=".cylinderImage_view.CylinderImageViewAct" />
        <!--学习ViewPager+Fragment LazyLoad-->
        <activity android:name=".viewpager_fragment_lazyload.PagerFragmentLazyLoadAct" />
        <!--Android EditText 的使用及值得注意的地方-->
        <activity android:name=".autohideime.UseEditTextAct" />
        <!-- 学习使用GridView -->
        <activity android:name=".girdview.GridViewActivity" />
        <!-- 读取本地照片发说说的Demo -->
        <activity android:name=".add_local_pic.DynamicPostAct" />
        <!-- 读取本地照片发说说的Demo  本地相册 -->
        <activity android:name=".add_local_pic.LocalAlbumAct" />
        <!-- 读取本地照片发说说的Demo 相册详情页 -->
        <activity android:name=".add_local_pic.LocalAlbumDetailAct" />
        <!-- 模糊图片 -->
        <activity android:name=".blurred_view.BlurredViewAct" />
        <!-- 动态控制模糊度 -->
        <activity android:name=".blurred_view.BlurredViewBasicAct" />
        <!-- 天气模糊背景 -->
        <activity android:name=".blurred_view.WeatherActivity" />
        <!-- Service的生命周期 -->
        <activity android:name=".servicelife.ServiceActivity" />
        <!-- 一些加载动画、获取APP当前的版本、自定义Annotation -->
        <activity android:name=".loading_and_annotation.LoadActivity" />
        <!-- MVP写的一个登录的Demo -->
        <activity android:name=".mvp.view.LoginMVPActivity" />
        <!-- 学习沉浸式状态栏 -->
        <activity android:name=".immersive_status_bar.ImmersiveStatusBarAct" />
        <!-- 侧滑菜单 SlidingPaneLayout Sample -->
        <activity android:name=".autohideime.SlidingPaneLayoutActivity" />
        <!-- 分Type的ListView -->
        <activity android:name=".lv_diff_type.LvDifferentTypeAct" />
        <!-- ListView嵌套ListView -->
        <activity android:name=".lv_nesting_lv.NestOneActivity" />
        <!-- 调取相机拍照保存在本地，并且显示出来 -->
        <activity android:name=".pic_save_sd.PicSaveSDActivity" />
        <!-- 横向的RecyclerView，动态加载设置组件的宽高，自己封装的网络请求 -->
        <activity android:name=".orientation_rc_view.OrientationRCViewAct" />
        <!-- CoordinatorLayout布局的使用方式 -->
        <activity
            android:name=".coordinator_layout.CoordinatorLayoutAct"
            android:theme="@style/AppTheme.NoActionBar" />
        <!-- Fragment跳转传值、Fragment覆盖Fragment -->
        <activity android:name=".tablayout.FragmentToFragmentAct" />
        <!-- 观察者模式 -->
        <activity android:name=".observer_mode.ObserverActivity" />
        <!-- 树形结构关系View（类似于多层ExpandableListView效果） -->
        <activity android:name=".org_tree_view.OrgTreeActivity" />
        <!-- 自定义相机 -->
        <activity android:name=".camera.CameraActivity" />
        <!-- Android 仿QQ联系人，分组悬浮，展开停至特定项 -->
        <activity android:name=".pinned_header.PinnedHeaderActivity" />
        <!-- 禁用其他APP,使用记录访问权限(获取使用过的APP包名集合) -->
        <activity android:name=".disable_other_app.DisableOtherAPPActivity" />
        <!-- 禁用其他APP（提示） -->
        <activity android:name=".disable_other_app.DisableAPPTipActivity"
            android:launchMode="singleTop"/>
        <!-- 打开外部APP -->
        <activity android:name=".open_external_app.OpenExternalAPPAct"/>
        <!-- 汉字转拼音 -->
        <activity android:name=".chinese_to_pinyi.ChineseToPinyinActivity"/>


        <!-- Service的生命周期 -->
        <service android:name=".servicelife.TestService" />
        <!-- 禁用其他APP -->
        <service android:name=".disable_other_app.MonitorService" />

        <!-- 在AndroidManifest中注册广播 -->
        <receiver android:name=".broadcast.AirPlaneModeReceiver">
            <intent-filter>
                <!-- 我们要监听的广播名字 -->
                <!-- 注意action里的内容不要写错 包括大小写 -->
                <action android:name="android.intent.action.AIRPLANE_MODE" />
            </intent-filter>
        </receiver>

    </application>

</manifest>