<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.my.simplesampletest">

    <!--网络-->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!--写入SD卡-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--相机的权限-->
    <uses-permission android:name="android.permission.CAMERA" />


    <application
        android:name=".base.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/github"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--EventBus-->
        <activity android:name=".eventbus.EventBusActivity"/>
        <activity android:name=".eventbus.EventBus2Activity"/>
        <!--测试string装换成JSONObject-->
        <activity android:name=".jsonobjecttostring.JSONObjectActivity"/>
        <!--自动隐藏键盘Demo-->
        <activity android:name=".autohideime.AutoHideIMEActivity"/>
        <!--自定义View继承LinearLayout-->
        <activity android:name=".coupondisplayview.CouponDisplayActivity"/>
        <!--activity之间传递对象-->
        <activity android:name=".activitypostobject.PostActivity"/>
        <activity android:name=".activitypostobject.ReceiveActivity"/>
        <!--TabLayout配合ViewPager可以滑动-->
        <activity android:name=".tablayout.TLTrunkActivity"/>
        <!--广播activity-->
        <activity android:name=".broadcast.BroadCastActivity"/>
        <!--PicassoDemo-->
        <activity android:name=".picasso.PicassoDemoActivity"/>
        <!--Picasso的简单使用-->
        <activity android:name=".picasso.PicassoActivity"/>
        <!--Logger工具-->
        <activity android:name=".logger.LoggerActivity"/>
        <!--ListView更新单条数据，刷新-->
        <activity android:name=".lvupdatesingledata.LVUpdateSingleAct"/>
        <!--Android DiskLruCache完全解析，硬盘缓存的最佳方案-->
        <activity android:name=".imagecache.DiskLruCacheAct"/>
        <!--3D图片滚动-->
        <activity android:name=".imageswitchview.Image3DSwitchViewAct"/>
        <!--学习ORMLite数据库-->
        <activity android:name=".ormlitedemo.ORMLiteActivity"/>
        <!--Activity的生命周期-->
        <activity android:name=".act_life_cycle.LifeCycleActivity"/>
        <activity android:name=".act_life_cycle.LifeCycle2Activity"/>
        <!--用zxing做的生成二维码，并且扫码-->
        <activity android:name=".zxing.QRCodeActivity"/>
        <activity android:name=".zxing.ScanActivity"/>

        <!-- 在AndroidManifest中注册广播 -->
        <receiver android:name=".broadcast.AirPlaneModeReceiver">
            <intent-filter>
                <!-- 我们要监听的广播名字 -->
                <!-- 注意action里的内容不要写错 包括大小写 -->
                <action android:name="android.intent.action.AIRPLANE_MODE"/>
            </intent-filter>
        </receiver>

    </application>

</manifest>